::-webkit-input-placeholder {
    text-align: center;
}

 :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

 :-ms-input-placeholder {
    text-align: center;
}

input {
    text-align: center;
    border: 1px solid rgb(53, 160, 119);
    border-radius: 10px;
}

#mainTitle {
    border: 3px solid rgb(93, 216, 169);
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(rgb(145, 226, 192), rgb(73, 179, 129));
    padding: 10px;
}